$bg:#444;
$txt-col:#fff;

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    .logo {
        height: 100px;
        background: $bg;
        line-height: 100px;
        font-size: 24px;
        color: $txt-col;
    }
    .hor-nav {
        ul li {
            display: inline-block;
        }
        .m7 {
            width: 14.285714286%;
            padding: 16px 0;
            background: $bg;
            border-right: 1px solid #fff;
            &:last-child {
                border-right: none;
            }
            &:hover {
                cursor: pointer;
            }
            a {
                color: $txt-col;
            }
        }
    }
}

.second-line {
    h5 {
        color: $bg;
        font-weight: bold;
    }
    li {
        display: inline-block;
        padding: 16px 16px;
        &:hover {
            cursor: pointer;
        }
        a {
            color: $bg;
        }
    }
}


.col-nav {
    height: 100vh;
    line-height: 100vh;
    background: $bg;
    color: $txt-col;
}

.images {
    min-height: 150px;
    background: $bg;
    color: $txt-col;
    line-height: 150px;
}